* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_content {
    position: absolute;
    height: 100vh;
    width: 67vw;
    background-color: #fff;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.transparent {
    position: absolute;
    display: flex;
    top: 25vh;
    height: 15vh;
    width: 33vw;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9;
    justify-content: center;
} 

.one, .two, .three {
    height: 33.3%;
    border-radius: 10px;
}

.one {
    display: flex;
}

.two {
    background-color: rgba(211, 211, 211, 0.616);
}

/* logo styling */

.logo {
    display: flex;
}

div > img {
    height: 90%;
    margin-top: 2%;
}

.logo_text {
    font-family: "Fascinate";
    font-size: 5vw;
    color: #fff;
    margin-left: 5%;
    align-self: center;
    margin-right: 17%;
}

.bg_img {
    position:absolute;
    height: 100vh;
    width: 33vw;
    background-image: url(/Files/a48c5c6d31119800605ef0de228e4631.png);
    background-repeat: no-repeat;
    background-size: cover;    /*  fills the background with the img  */
    left: 0px;
}

p {
    margin-top: 20vh;
    margin-left: 3vw;
    font-family: 'Fascinate';
    font-size: large;
    
}

form > div {
    display: flex;
    flex-direction: column;
    flex: 2;
}